


<br><br><br><br><br><br>
<p>Usernam: 'sqr'</p>
<p>password: '12345'</p>
<dir class="jumbotron"> 

<form role="form">
  <div class="form-group">
    <label for="title" class="control-label">Username</label>
    <input type="text" ng-model="Username" class="form-control" id="title" placeholder="Enter the Username">
  </div>
  <div class="form-group">
    <label for="title" class="control-label">Password</label>
    <input type="password" ng-model="Password" class="form-control" id="title" placeholder="Enter the Password">
  </div>
  <input type="submit" class="btn btn-primary" ng-click="submitAuth()" value="Save">
</form>
</dir>